body{
  width: 705px
}
div{
  margin: 0;
  margin-top: 15px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
a{
  width: 95px;
  height: 25px;
}

button{
  width: 95px;
  height: 40px;
  border: 2px;
  border-width: 2px;
  border-style: outset;
  border-color: gray;
  border-image: initial;
  text-align: center;
  font: 400 13.3333px Arial;
  font-size: 14px;
}

button:hover{
  background-color: #9E9E9E;
  transform: translateY(-4px);
}

button:active{
    background-color: #7C7C7C;
}

#exFrame {
  transform: scale(0.9);
  transform-origin: left;
  width: 780px;
  height: 490px;
}
