html{
  height: 500px;

}
body{
  width: 705px

}
#buttonList{
  margin: 0;
  margin-top: 15px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
a{
  width: 95px;
  height: 25px;
}

button{
  width: 95px;
  height: 40px;
  border: 2px;
  border-width: 2px;
  border-style: outset;
  border-color: gray;
  border-image: initial;
  text-align: center;
  font: 400 13.3333px Arial;
  font-size: 14px;
}

button:hover{
  background-color: #9E9E9E;
  transform: translateY(-4px);
}

button:active{
    background-color: #7C7C7C;
}

#backward,#forward{
  position: fixed;
  transform-origin: right;
  top: 27%;
}

#backward{
  left: -30%;
  transform: scaleX(-1) scale(0.3) rotate(-90deg);
}

#forward{
  left: 58%;
  transform: scaleX(1) scale(0.3) rotate(-90deg);
}

#divB,#divF{
  height: 100%;
  width: 20%;
  margin-top: 57px;
  position: fixed;
}

#divB{
  top: 0px;
  left: 0px;
}

#divF{
  top: 0px;
  right: 23px;
}

#divB:hover{
  background: linear-gradient(to right, black, white);
  opacity: 50%;
  cursor: pointer;
}

#divF:hover{
  background: linear-gradient(to left, black, white);
  opacity: 50%;
  cursor: pointer;
}

#sel
{
         width: 90px;
         font-size: 16px;
}

#exFrame {
  background-color: white;
  transform: scale(0.9);
  transform-origin: left;
  width: 780px;
  height: 555px;
}
